@import '../../../../style/Variables';

#bf-demo-view-customer-restaurant-list {
  width: 100%;
  height: 100%;
  padding: 35px 25px;
  box-sizing: border-box;

  .back {
    margin-left: 25px;
    margin-bottom: 10px;
    display: inline-block;
    font-family: Poppins, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.5;
    transition: opacity 0.3s;
    user-select: none;
    cursor: pointer;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: $mainColor;
      color: white;
      opacity: 1;
    }
  }

  h2 {
    margin-bottom: 25px;
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: $textColor2;

    &.title {
      padding: 0 25px;

      span {
        color: $mainColor;
      }
    }

    &.empty {
      opacity: 0.5;
      font-style: italic;
    }
  }

  .restaurant-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

