@import '../../style/Variables';
@import '../../style/Mixins';

#bf-demo-controller-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $demoControllerHeight;
  background: $mainColor;
  border-top: 2px solid darken($mainColor, 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 3;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    transform: translateY($demoControllerHeight + 15px);
    transition: transform 0.5s;
  }

  &.visible > * {
    transform: translateY(0);
  }

  .left, .right {
    width: 300px;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      @include btn-reverse-color();
      padding: 5px 10px;
      font-size: 1.3em;

      i {
        margin-right: 10px;
        font-size: 0.9em;
      }
    }

    .devices {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 2em;
      cursor: default;
      margin-right: 25px;

      i {
        &:first-of-type {
          margin-right: 10px;
        }

        &:last-of-type {
          margin-left: 10px;
        }

        &:not(.active) {
          cursor: pointer;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 25px;

    .step-label {
      height: 17px;
      line-height: 17px;
      font-family: Poppins, sans-serif;
      font-size: 1.1em;
      color: white;
      margin-bottom: 14px;

      span {
        margin-right: 5px;
      }
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        position: relative;
        transition: opacity 0.3s;
        opacity: 1;
        user-select: none;

        &:not(.completed) {
          opacity: 0.3;
        }

        &:not(:first-of-type) {
          margin-left: 25px;

          &:before {
            content: '';
            position: absolute;
            top: calc((100% - 4px) / 2);
            left: -25px;
            height: 4px;
            width: 25px;
            background: white;
            z-index: -1;
          }
        }
      }

      .icon {
        width: 60px;
        height: 60px;
        background: white no-repeat center;
        background-size: 65%;
        border-radius: 100%;

        &.customer-view {
          background-image: url('../../style/images/customer.svg');
        }

        &.restaurant-view {
          background-image: url('../../style/images/restaurant.svg');
        }

        &.courier-view {
          background-image: url('../../style/images/courier.svg');
        }
      }

      .step {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: white;
        font-family: Poppins, sans-serif;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
      }

      .btn {
        width: 85px;
        height: 85px;
        opacity: 1 !important;

        &:not(:first-of-type) {
          margin-left: 50px;

          &:before {
            content: none !important;
          }
        }

        &:not(.active):hover {
          cursor: pointer;
        }

        &.active, &:hover {
          &:after {
            content: '';
            position: absolute;
            top: -9px;
            left: -9px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border-radius: 100%;
            border: 4px solid white;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo {
      width: 100px;
      height: 100px;
      background: url('../../style/images/blockfood-logo.svg') no-repeat center right;
      background-size: contain;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}