.orderHeader {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  background-color: #ccc;
  color: #fff;
  padding: 4px 5px;
  margin-bottom: 10px;

  .orderHeaderTime {
    order: -1;
  }
}
