@import '../../../node_modules/reset-css/reset.scss';

@import './style/Variables';

html, body, #root {
  position: relative;
  height: 100%;
  color: $textColor;
}

#bf-demo-main-view {
  position: relative;
  top: $headerHeight;
  left: 0;
  width: 100%;
  height: calc(100% - #{$headerHeight} - #{$demoControllerHeight});
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}