.orderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #999999;
  color: #fff;
  padding: 4px 5px;

  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }

  .orderHeaderLabel {
    max-width: 75%;
  }
}
