@import '../../../style/Variables';

.orderTotal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid rgba(101, 101, 101, 60%);
  margin: 0 10px;
  padding-top: 15px;

  .orderTotalAmount {
    color: $mainColor;
  }
}
