@import '../../../../../node_modules/react-select/dist/react-select.css';
@import '../../style/Variables';
@import '../../style/Mixins';

#bf-demo-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  box-shadow: 0 0 5px rgba($mainColor, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 2;

  &:not(.visible) {
    display: none;
  }

  .logo {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Poppins, sans-serif;
      font-size: 2em;
      font-weight: bold;
      color: $mainColor;

      i {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 10px;

        &.customer {
          background: url('../../style/images/customer-main-color.svg');
        }

        &.restaurant {
          background: url('../../style/images/restaurant-main-color.svg');
        }

        &.courier {
          background: url('../../style/images/courier-main-color.svg');
        }
      }

      span:first-of-type {
        display: inline-block;
        position: relative;
        top: -1px;
      }

      span:not(:first-of-type) {
        font-weight: normal;

        &:last-of-type {
          text-transform: uppercase;
          opacity: 0.3;
        }
      }
    }

    .icon {
      margin-left: 15px;
      font-weight: 400;
      font-style: italic;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-family: Poppins, sans-serif;
        margin-top: -2px;
        opacity: 0.5;
      }
    }
  }

  .user {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-customer-order-list {
      @include btn();
      margin-right: 25px;
      font-size: 1.1em;
      padding: 8px 10px;

      i {
        margin-right: 8px;
      }
    }

    .select {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.5em;
        margin-right: 5px;
      }

      .Select {
        width: 200px;
        margin-right: 25px;

        &, * {
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          color: black;
          cursor: pointer;
        }

        .Select-control {
          border: 2px solid black;
          box-shadow: none !important;
        }

        .Select-menu-outer {
          border: 2px solid black;
          border-top: none;
        }

        .Select-option.is-focused {
          background-color: lightgray;
        }

        .Select-arrow {
          border-top-color: black;
        }
      }
    }

    .username {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;

      i {
        margin-right: 3px;
      }

      span {
        font-weight: bold;
      }
    }
  }
}