@import '../../style/Variables';

.go-back {
  display: inline-block;
  font-family: Poppins, sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0.5;
  transition: opacity 0.3s;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: $mainColor;
    color: white;
    opacity: 1;
  }
}