@import '../../../../style/Variables';

#bf-demo-view-customer-order {
  padding: 35px 50px;

  .go-back {
    margin-bottom: 15px;
  }

  .header {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      border-radius: 15px;
    }

    .detail {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: $textColor;
      margin: 25px;
      padding: 25px;
      background: rgba(255, 255, 255, 0.95);
      border-radius: 15px;

      .name {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
      }

      .category {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $textColor3;
        line-height: 24px;
        font-size: 14px;
      }

      .rate {
        margin-top: 5px;

        .colored {
          color: $mainColor;
        }
      }
    }
  }

  .foodOrder {
    position: absolute;
    top: 105px;
    right: 75px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba($mainColor, 0.75);
  }

  .foodContent {
    width: calc(100% - 400px);

    .foodPart {
      margin-top: 25px;

      h6 {
        text-transform: uppercase;
        color: #595959;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .foodList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .foods {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          padding: 15px;
          color: $textColor2;
          border-radius: 5px;
          box-sizing: border-box;
          border: 1px solid #d9d9d9;

          h2 {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
          }

          h3 {
            margin-top: 5px;
            font-size: 14px;
            font-weight: bold;
            color: $mainColor;
          }

          &:hover {
            background-color: #d9d9d9;
            cursor: pointer;
          }

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

// TODO: remove
.foodContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
}
.validateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  color: white;
  font-weight: bold;
  font-size: larger;
  width: 90%;
  height: 55px;
  cursor: pointer;
  margin: 15px auto;
  a {
    color: white;
    &:active {
      color: white;
    }
  }
}
.foodContent {
  width: 70%;
}
.colored {
  color: $mainColor;
}
.divider {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: left;
  align-items: left;
}
.divider div {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 5px 0;
}
.borderGray {
  border-top: 1px solid #ccc;
}
.svg {
  padding: 0 20px;
  svg {
    width: 15px !important;
    height: auto !important;
    path{
      fill: $mainColor
    }
  }
}
.star {
  color: $mainColor;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
  .colored path {
    fill: $mainColor
  }
  .white path {
    fill: #ccc;
    stroke: black;
  }
}
.add {
  display: flex;
  flex-flow: row;
  letter-spacing: 2px;
}
.time {
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}
.star {
  margin: 20px 0;
}

