@import '../../../../style/Variables';

#bf-demo-customer-order-list {
  padding: 35px 50px;

  h2 {
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: $textColor2;
    border-bottom: 1px solid #cecece;
    margin-bottom: 25px;
  }
}